@use '../../variable.scss' as *;

.wond-left-panel {
  position: relative;
  width: 285px;
  height: 100%;
  background-color: $panel-color;
  box-sizing: border-box;
  border-right: 1px solid $panel-border-color;
}
