.wond-layer-node {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  user-select: none;

  &:hover,
  &.hovered,
  &.selected {
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      height: 24px;
      left: 12px;
      right: 8px;
      top: 4px;
      border-radius: 5px;

      $box-shadow-color: #ffffff00;
      box-shadow:
        1px 0 0 $box-shadow-color,
        -1px 0 0 $box-shadow-color,
        0 -1px 0 $box-shadow-color,
        0 1px 0 $box-shadow-color;
    }
  }

  &.hovered,
  &:hover {
    &::after {
      background-color: rgba(237, 237, 237, 0.527);
    }
  }

  &.selected {
    &::after {
      background-color: #e5f4ff;
    }
  }

  .layer-node-indent {
    position: relative;
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(158, 158, 158);
  }

  &.selected {
    .layer-node-indent {
      color: #000;
    }
  }

  &.invisible {
    color: rgba(0, 0, 0, 0.5);
    .layer-node-indent {
      color: inherit;
    }
  }

  .layer-node-name {
    flex: 1;
    padding-left: 4px;
    line-height: 1;
  }

  &.locked,
  &:hover {
    .icon-button.lock {
      display: flex;
    }
  }

  &.invisible,
  &:hover {
    .icon-button.visibility {
      display: flex;
    }
  }

  &.invisible.selected {
    .icon-button {
      color: inherit;
    }
  }

  .suffix-button-wrapper {
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    border-radius: 0.3125rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .icon-button {
      position: relative;
      width: 100%;
      height: 100%;
      display: none;
      outline: none;
      border: none;
      background-color: transparent;
      align-items: center;
      justify-content: center;
    }
  }
}
