@use './variable.scss' as *;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  #root {
    position: relative;
    width: 100%;
    height: 100%;
    color: $font-color;
  }
}

:root {
  ::selection {
    background-color: rgba(152, 208, 249, 1);
    color: #000;
  }
}
