@use './variable.scss' as *;
@use './fonts.scss';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  #root {
    position: relative;
    width: 100%;
    height: 100%;
    color: $font-color;
  }
}

:root {
  font-family: $default-font-family;
  ::selection {
    background-color: rgba(152, 208, 249, 1);
    color: #000;
  }
}

.column-gap-2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-2);
}
