.wond-zoom-setter {
  position: relative;
  width: 76px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #00000080;
}
